<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="produtos" color="light"></ion-back-button>
        </ion-buttons>
        <ion-title>{{nome}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <img src="{{url_site_img}}{{imagem}}">
        </ion-card-header>
        <ion-card-content>
            <ion-card-title></ion-card-title>
            <ion-card-subtitle>Descrição :</ion-card-subtitle>
            <br>
            <ion-label>{{descricao}}</ion-label>


            <ion-card-subtitle>R$ {{valor}}</ion-card-subtitle>
            <ion-button size="medium" expand="full" shape="round" color="success" (click)="addCarrinho()">
                <ion-icon name="cart" slot="start"></ion-icon>
                Adicionar Carrinho
            </ion-button>

        </ion-card-content>
    </ion-card>

</ion-content>

<ion-footer>


    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-tab-button (click)="categorias()">
                    <ion-icon color="primary" name="list-circle"></ion-icon>
                    <ion-label>Categorias</ion-label>
                </ion-tab-button>
            </ion-col>

            <ion-col (click)="carrinhoPage()">
                <div class="rodape-carrinho center">
                    <ion-icon color="danger" name="cart"></ion-icon>
                    Carrinho: R$ {{total_carrinho}}
                </div>
            </ion-col>

        </ion-row>

    </ion-grid>




</ion-footer>